* {
    margin: 0px;
    padding: 0px;
}

html {
    font-family: 'Montserrat';
    ư font-size: 100%;
}

#warraper-login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, rgb(255, 191, 0), rgb(255, 238, 0))
}

.container-login {
    width: 420px;
    height: 550px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: -1px -1px 30px 1px #888888;
}

.container-login h1 {
    padding-top: 1em;
    font-size: 2.5em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.input-login {
    display: flex;
    flex-direction: column;
    margin-top: 3.125em;
    padding-left: 2em;
    padding-right: 5em;
}

.input-login input {
    width: 100%;
    height: 3.5em;
    border-radius: 10px;
    border: 1px solid #888888;
    padding-left: 1em;
    margin-top: 15px;
}

.input-login input:focus {
    outline: none;
}

.input-login p {
    font-size: 1.5em;
}

.password {
    margin-top: 15px;
}

.other {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    padding-left: 2em;
    padding-right: 4em;
}

.other a {
    text-decoration: none;
}

.sign-in-btn {
    margin-top: 3em;
    padding-left: 2em;
    padding-right: 4em;
}

.sign-in-btn button {
    width: 100%;
    height: 2em;
    background-color: #FFE001;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1.5em;
}