* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    height: 825px;
    background-color: #FFE001;
    position: relative;
}

#header .header-cover {
    position: absolute;
    right: 0;
    width: 555px;
    border-bottom: 825px solid #EBE9AC;
    border-left: 160px solid transparent;
}

#header .logo {
    display: inline-block;
    padding-top: 45px;
    padding-left: 55px;
}

#header .phone-number {
    display: inline-block;
    position: absolute;
    text-align: left;
    top: 58px;
    right: 100px;
    font-family: 'Montserrat';
}

#header .phone-number h3 {
    font-size: 17px;
}

#header .phone-number h1 {
    font-size: 29px;
}

#header .phone-icon img {
    position: absolute;
    top: 52px;
    right: 55px;
    width: 30px;
    height: 55px;
}

#header .nav {
    display: flex;
    position: absolute;
    right: 60px;
    margin-top: 30px;
    margin-right: -60px;
    font-family: 'Montserrat';
    font-size: 17px;
}

#header .nav li {
    list-style-type: none;
    margin-right: 60px;
}

.nav li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    letter-spacing: 5px;
}

#header .header-image .image1 {
    position: absolute;
    left: 80px;
    margin-top: 80px;
}

#header .header-image .image2 {
    position: absolute;
    top: 180px;
    left: 760px;
}

#header .header-image .image3 {
    position: absolute;
    left: 805px;
    top: 220px;
}

#header .header-image .image4 {
    position: absolute;
    left: 725px;
    top: 690px;
}

#header .header-image .image5 {
    position: absolute;
    right: 80px;
    top: 650px;
}

#header .header-image .image6 {
    position: absolute;
    left: o;
    top: 675px;
}

#header .header-text h2 {
    position: absolute;
    top: 225px;
    left: 185px;
    font-weight: lighter;
    font-size: 57.68px;
    font-family: 'Gabelisa';
}

#header .header-text h1 {
    position: absolute;
    top: 300px;
    left: 85px;
    font-weight: lighter;
    font-size: 90.21px;
    font-family: 'Fredericka the Great';
}

#header .header-text .order-now-header {
    position: absolute;
    top: 425px;
    left: 135px;
    font-weight: bold;
    font-size: 26.62px;
    font-family: 'Montserrat';
    text-transform: uppercase;
}

#header .header-text h3 {
    position: absolute;
    top: 530px;
    left: 225px;
    font-weight: lighter;
    font-size: 19.39px;
    text-transform: uppercase;
    font-family: 'Fredericka the Great';
}

#header .header-text .special-text {
    position: absolute;
    top: 517px;
    left: 385px;
    font-weight: lighter;
    font-size: 56.79px;
    text-transform: uppercase;
    font-family: 'Fredericka the Great';
}

#header .line {
    position: absolute;
    top: 488px;
    left: 135px;
    width: 470px;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.3);
}

#header .button button {
    position: absolute;
    top: 610px;
    left: 250px;
    width: 227px;
    height: 58px;
    background-color: #FFE001;
    font-family: 'Montserrat';
    font-size: 20.83px;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
}

#food-order {
    position: relative;
}

#food-order .food-order-text h1 {
    font-family: 'Fredericka the Great';
    font-weight: lighter;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 90px;
}

#food-order .food-order-text p {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 16.67px;
    text-align: center;
    margin-top: 30px;
}

#food-order .food-order-line {
    position: absolute;
    left: 0;
    right: 0;
    top: 285px;
    height: 140px;
    background-color: #E8E6A9;
    z-index: 1;
}

#food-order .food-menu {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    padding-right: 70px;
    margin-top: 55px;
    z-index: 2;
}

#food-order .food-menu .product {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-menu .product img {
    height: 353px;
}

.food-menu .product h1 {
    font-family: 'Montserrat';
    font-size: 23.83px;
    font-weight: bold;
    margin-top: 50px;
}

.food-menu .product p {
    text-align: center;
    font-family: 'Montserrat';
    font-size: 16.67px;
    font-weight: 300;
    margin-top: 25px;
}

.food-menu .product button {
    font-family: 'Montserrat';
    font-size: 16.67px;
    width: 195px;
    height: 57px;
    background-color: #FFE001;
    border: none;
    margin-top: 35px;
    cursor: pointer;
}

#event {
    margin-top: 150px;
}

#event .event-text {
    text-align: center;
}

#event .event-text h3 {
    font-family: 'Montserrat';
    font-size: 20.83px;
    text-transform: uppercase;
}

#event .event-text h1 {
    font-family: 'Fredericka the Great';
    font-size: 41.67px;
    font-weight: lighter;
    text-transform: uppercase;
    margin-top: 15px;
}

#event .event-text p {
    font-family: 'Montserrat';
    font-size: 16.67px;
    font-weight: 300;
    margin-top: 30px;
}

#event .food-img {
    margin-top: 45px;
}

#event .food-img img {
    width: 450px;
}

#event .btn-event {
    text-align: center;
    margin-top: 45px;
}

#event .btn-event button {
    width: 17px;
    height: 17px;
    border: none;
    border-radius: 50%;
    background-color: #DCDCDC;
    cursor: pointer;
    margin-left: 10px;
}

#event .try-food {
    margin-top: 115px;
    padding-left: 140px;
    padding-right: 140px;
}

#event .try-food {
    display: flex;
    justify-content: space-between;
}

#event .food-item {
    position: relative;
}

#event .food-item.item2 {
    margin-bottom: 33px;
}

#event .food-item .text-food-item {
    position: absolute;
    top: 30px;
    left: 30px;
}


#event .text-food-item h3 {
    font-family: 'Montserrat';
    font-size: 25px;
    color: #fff;
    text-transform: uppercase;
}

#event .text-food-item p {
    font-family: 'Montserrat';
    font-size: 41.67px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
}

#table-booking {
    margin-top: 90px;
}

#table-booking .table-booking-text {
    text-align: center;
}

#table-booking .table-booking-text p {
    font-family: 'Montserrat';
    font-size: 20.83px;
    font-weight: bold;
    text-transform: uppercase;
}

#table-booking .table-booking-text h1 {
    margin-top: 25px;
    font-family: 'Fredericka the Great';
    font-size: 50px;
    font-weight: lighter;
    text-transform: uppercase;
}

#table-booking .booking {
    text-align: center;
}

#table-booking .booking input {
    width: 379px;
    height: 65px;
    margin-top: 30px;
    margin-right: 25px;
    padding-left: 25px;
    border-radius: 5px;
    border: 1px solid #BEBEBE;
    font-size: 16.67px;
    opacity: 0.8;
}

#table-booking .booking input:focus {
    outline: none;
}

#table-booking .booking input::placeholder {
    font-family: 'Montserrat';
    font-size: 16.67px;
    font-weight: 300;
}

#table-booking .booking button {
    width: 379px;
    height: 65px;
    margin-right: 25px;
    background-color: #FFE001;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Montserrat';
    font-size: 20.83px;
    font-weight: bold;
    text-transform: uppercase;
}

#footer {
    position: relative;
    margin-top: 100px;
    height: 582px;
}

#footer .footer-logo {
    position: absolute;
    top: 65px;
    left: 100px;
}

#footer .footer-background img {
    width: 100%;
}

#footer .body-text p {
    position: absolute;
    left: 100px;
    top: 210px;
    font-family: 'Montserrat';
    font-size: 16.67px;
    font-weight: 300;
    color: #fff;
}

#footer .address {
    position: absolute;
    top: 230px;
    right: 170px;
    display: flex;
    align-items: center;
}

#footer .address p {
    font-family: 'Montserrat';
    font-size: 16.67px;
    font-weight: 300;
    color: #fff;
    margin-left: 30px;
}

#footer .contact-mail {
    position: absolute;
    top: 280px;
    right: 250px;
    display: flex;
    align-items: center;
}

#footer .contact-mail p {
    font-family: 'Montserrat';
    font-size: 16.67px;
    font-weight: 300;
    color: #fff;
    margin-left: 30px;
}

#footer .copy-right p {
    position: absolute;
    bottom: 95px;
    left: 100px;
    font-family: 'Montserrat';
    font-size: 16.67px;
    font-weight: 300;
    color: #fff;
}

#footer .social {
    display: flex;
    position: absolute;
    right: 88px;
    bottom: 88px;
    margin-right: -10px;
}

#footer .social img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}