* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header {
    height: 825px;
    background-color: #FFE001;
    display: flex;
    position: relative;
}

#header .header-cover {
    position: absolute;
    right: 0;
    width: 555px;
    border-bottom: 825px solid #EBE9AC;
    border-left: 160px solid transparent;
}

#header .logo {
    display: inline-block;
    padding-top: 45px;
    padding-left: 55px;
}

#header .phone {
    position: absolute;
    text-align: left;
    top: 60px;
    right: 100px;
    display: inline-block;
    font-family: 'Montserrat';
}